
repos:
-   repo: https://github.com/charliermarsh/ruff-pre-commit
    hooks:
    -   id: ruff
        args: [--fix, --exit-non-zero-on-fix, --verbose]
    -   id: ruff-format
    rev: v0.3.2
-   repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy cdf_fabric_replicator
        language: system
        types: [python]
        pass_filenames: false
