logger:
    console:
        level: INFO

# Cognite project to stream your datapoints from
cognite:
    host: ${COGNITE_BASE_URL}
    project: ${COGNITE_PROJECT}

    idp-authentication:
        token-url: ${COGNITE_TOKEN_URL}
        client-id: ${COGNITE_CLIENT_ID}
        secret: ${COGNITE_CLIENT_SECRET}
        scopes:
            - ${COGNITE_BASE_URL}/.default
    extraction-pipeline:
        external-id: fabric-replicator

#Extractor config
extractor:
    state-store:
        raw:
            database: ${COGNITE_STATE_DB}
            table: ${COGNITE_STATE_TABLE}
    subscription-batch-size: 10000
    ingest-batch-size: 100000
    poll-time: 5

# subscriptions to stream
subscriptions:
    - external_id: charts-persisted
      partitions:
          - 0
      lakehouse_abfss_path_dps: abfss://a0fd605a-3a69-401e-a586-bee3bf2c8127@onelake.dfs.fabric.microsoft.com/40b75c4d-5ddd-47ff-bd81-8faadec1804b/Tables/CalculatedTimeseries
      lakehouse_abfss_path_ts: abfss://a0fd605a-3a69-401e-a586-bee3bf2c8127@onelake.dfs.fabric.microsoft.com/40b75c4d-5ddd-47ff-bd81-8faadec1804b/Tables/CalculatedTimeseriesMetadata

# sync data model
data_modeling:
    - space: cc_plant
      lakehouse_abfss_prefix: abfss://FabricCogniteDemo@onelake.dfs.fabric.microsoft.com/CogniteLakehouse.Lakehouse

source:
    event_path: abfss://ed261bd7-3d7d-4ab5-b70e-a23600c10a62@msit-onelake.dfs.fabric.microsoft.com/ab54a389-a6e8-417f-990f-45edd7d99455/Tables/TestEvents
    abfss_directory: abfss://ed261bd7-3d7d-4ab5-b70e-a23600c10a62@msit-onelake.dfs.fabric.microsoft.com/ab54a389-a6e8-417f-990f-45edd7d99455/Files/tank_thumbnail.png
    raw_time_series_path: abfss://ebbedac0-b667-4db5-895f-86eba7a8bc44@msit-onelake.dfs.fabric.microsoft.com/8e66858c-c1f3-40b6-92e3-a86e747a7c9d/Tables/mtu_historic
    data_set_id: 3351080165451477

destination:
    type: "events"
    time_series_prefix: ktst_new_extract_
